
<header>
  <nav style="background-color: #031c4e;color:#fff;" class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>ToDo List App <small style="font-size: 9px;">v1.2</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>
